body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task-list {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
}

.item {
    border: 1px solid #e1e1e1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.input-controller textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
}

.input-controller input[type="date"] {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.edit-controller {
    display: flex;
    gap: 10px;
}

.update-controller {
    display: none;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editBtn, .saveBtn {
    background-color: #4CAF50;
    color: white;
}

.editBtn:hover, .saveBtn:hover {
    background-color: #45a049;
}

.deleteBtn, .cancelBtn {
    background-color: #f44336;
    color: white;
}

.deleteBtn:hover, .cancelBtn:hover {
    background-color: #da190b;
}

#task-form {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

#task, #taskdate {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
