
.deleteBtn, .cancelBtn {
    background-color: #f44336;
    color: white;
}

.deleteBtn:hover, .cancelBtn:hover {
    background-color: #da190b;
}

#task-form {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

#task, #taskdate {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
